<h1>{{title}}</h1>
<button class="ui primary button" id="btn">이동</button>
<div style="height:200px">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>홀</th>
                <th>타이틀</th>
                <th>작가</th>
                <th>날짜</th>
            </tr>
        </thead>
        <tbody> {{#each comments}}
            <tr>
                <td>
                    <h4 class="ui image header">
                        <a class="thumb" href="{{url}}">
                            <img src="{{thumbnailUrl}}" class="ui mini rounded image"> </a>
                        <div class="content">{{id}}
                            <div class="sub header">{{title}} </div>
                        </div>
                    </h4>
                </td>
                <td>{{thumbnailUrl}}</td>
                <td>{{url}}</td>
            </tr> {{/each}} </tbody>
    </table>
</div>
</div>